*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:arial;
}
body{
    margin-top: 60px;
}
.navbar{
    position : fixed;
    top : 0px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #0f1111;
    color: white;
    justify-content: space-around;
    width : 100%;
}
.delivery{
    color: white;
    margin-left: 10px;
}
.small{
    font-size: 10px;
}
.big{
    font-size: 14px;
}
.search{
    display: flex;
}
select{
    width : 40px;
    height : 40px;
}
.search-input{
    width : 300px;
    padding-left : 20px;
    height: 40px;
}
.button{
    padding :10px 20px;
    background-color: #febd69;
    height : 40px;
     border : 0px solid black;
}
.image{
    height: 50px;
    width: 80px;
}
.option{
    color: white;
    margin: 0 10px;
}
.option big{
    font-size: 14px;
    font-weight: bold;
}
.cart{
    font-size: 15px;

}
.nav{
    background-color : #232F3E;
    color : white;
    height : 40px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    width : 100%;
}
.amazon1{
    height: 500px;
    background-size: cover;
    width: 100%;
}
.things{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
   /* border: 2px solid;*/
    height: 400px;
    width:23% ;
    background-color: white;
    margin-top: 4px;
    padding: 20px 0px 15px;
}
.box-img{
    height : 300px;
    width : 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position : relative;
    bottom : 10px;
    
    
}
.image{
    height: 300px;
}
/* LAST BUT NOT LEAST */
footer{
    margin-top: 15PX;
}
.footer-panel{
    background-color: #232F3E;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.footer-panel2{
    background-color:#222f3d ;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
.ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddddd;
}
.footer-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.see{
    display : flex;
    justify-content: center;
}
